img {
    image-orientation: from-image;
    max-width: 300px;
}
body {
    font-family: 'Dancing Script', cursive;
}
.owl-item {
    display: block;
    height: 100%;
    margin: auto;    
    img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.main {
    height: 100vh;
    width: 100%;
    position: relative;
    .wrapper {
        @media screen and (min-width: 992px) {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
h1 {
    text-align: center;
    color: #CC2740;
}
.animated.delay-6s {
    animation-delay: 6s;
    font-size: 42px;
    font-weight: bold;
}
.snow-canvas {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}
